@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(228, 65, 93);
    
}
.wrapper{
    width: 500px;
    /* border: 1px solid white; */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.container{
    width: 100%;
    background-color: tomato;
    padding:50px 40px ;
    box-shadow: 0 20px 65px rgba(0, 0, 0, 0.507);
    position: relative;
    border-radius: 5px;
    text-align: center;

}
.container:after{
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: #ffff;
    z-index: -1;
    top: -10%;
    left: 10%;
}

.container p{
    color: #f8f8f8;
    line-height: 2;
    font-size: 18px;
    font-family: 'Poppins';
}
.container h3{
    color: rgb(19, 9, 9);
    margin:10px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Lato';
}
.container button{
    background-color: #fff;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Poppins';
    color: tomato;
    cursor: pointer;
}
 
@media screen and (max-width:600px){
    .wrapper{
        width:90%;
        position: absolute;

    }
}
